{% extends "admin/base.html" %}
{% load i18n static unfold %}

{% block breadcrumbs %}{% if not is_popup %}
  <div class="px-4">
    <div class="container mb-6 mx-auto -my-3 lg:mb-12">
      <ul class="flex flex-wrap">
        {% url 'admin:index' as link %}
        {% trans 'Home' as name %}
        {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

        {% trans 'Cell Information' as name %}
        {% url 'admin:cell_management_cellinfo_changelist' as link %}
        {% include 'unfold/helpers/breadcrumb_item.html' with name=name link=link %}

        {% trans 'Extract Curriculum' as name %}
        {% include 'unfold/helpers/breadcrumb_item.html' with name=name link='' %}
      </ul>
    </div>
  </div>
{% endif %}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
  <div class="px-4">
    <div class="container mx-auto max-w-5xl">
      <h1 class="mb-6 text-2xl font-bold">{% trans "Extract Curriculum" %}</h1>

      {% if messages %}
        <ul class="mb-4">
          {% for message in messages %}
            <li class="text-sm {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <form action="" method="post" novalidate enctype="multipart/form-data">
        <div class="aligned border border-base-200 mb-8 rounded pt-3 px-3 shadow-sm dark:border-base-800">
          {% csrf_token %}
          {% for field in form %}
            {% include "unfold/helpers/field.html" with field=field %}
          {% endfor %}
        </div>

        <div class="mt-8 flex items-center gap-3">
          {% url 'admin:cell_management_cellinfo_changelist' as changelist_url %}
          {% component "admin/custom_components/button.html" with variant="default" href=changelist_url %}
            {% trans "Back" %}
          {% endcomponent %}

          {% component "unfold/components/button.html" with submit=True variant="primary" %}
            <span class="material-symbols-outlined text-base align-middle">play_arrow</span>
            {% trans "Submit Extract" %}
          {% endcomponent %}
        </div>
      </form>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock %}
