{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n admin_urls %}

{% block content %}
    {% if perms_lacking %}
        {{ block.super }}
    {% elif protected %}
        {{ block.super }}
    {% else %}
        <div class="border border-base-200 rounded shadow-sm dark:border-base-800">
            <p class="font-semibold p-4 text-font-important-light dark:text-font-important-dark">
                {% blocktranslate %}Are you sure you want to delete the selected {{ objects_name }}?{% endblocktranslate %}
            </p>

            <div class="border-base-200 border-t p-4 dark:border-base-800">
                <h2 class="font-semibold mb-2 text-font-important-light dark:text-font-important-dark">
                    {% translate "Summary of related items that will be deleted:" %}
                </h2>

                <ul class="leading-relaxed text-sm">
                    {% for model_name, count in related_counts.items %}
                    <li>{{ count }} {{ model_name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <form method="post" class="border-t border-base-200 px-4 py-3 dark:border-base-800">
                {% csrf_token %}

                <div class="flex items-center">
                    {% for obj in queryset %}
                        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
                    {% endfor %}

                    <input type="hidden" name="action" value="delete_selected">
                    <input type="hidden" name="post" value="yes">

                    {% include "unfold/helpers/delete_submit_line.html" %}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
